.movie-item {
    min-height: 280px;
    height:auto;
    width:160px;
    background-color:#ffffff;
    display:block;
    padding:0px;
    border-width: 1px;
    border-color: #000000;
    align-self: stretch;
    margin: 0px 40px 10px 0px;
}

.movie-poster {
    width:160px;
    display:block;
    float:left;
    margin-bottom:10px;
}

.title-container {
    margin-top:5px;
}

.movie-title {
    text-align: center;
    font-size: 18px;
    margin:0px;
    vertical-align: bottom;
}