.login-info {
    position:absolute;
    bottom:10px;
    right:20px;
    color:#5E5E5E;    
}

.navbar-link {
    font-size:14px;
    color:#5E5E5E;
    transition:0.2s;
}

.navbar-link:hover {
    color:#4792FF;
    text-decoration: none;
    transition:0.2s;
}